a[href="/jobs"],
a[href$="communities"],
a[href="/i/premium_sign_up"],
a[href="/i/verified-orgs-signup"],
a[href="/i/monetization"],
a[href="https://ads.x.com/?ref=gl-tw-tw-twitter-ads-rweb"],
a[href="/i/account_analytics"] {
  display: none;
}

.css-175oi2r.r-yfoy6g.r-18bvks7.r-1867qdf.r-1phboty.r-rs99b7.r-1ifxtd0.r-1udh08x:has(aside[aria-label="Subscribe to Premium"], aside[aria-label="Get paid to post"], aside[aria-label="40% off Premium "]) {
  display: none;
}

.css-175oi2r.r-1l7z4oj[data-testid="profileAnalyticsUpsell"] {
  display: none;
}

.css-175oi2r.r-173mn98.r-6gpygo.r-1rtiivn.r-hvns9x.r-1jte41z.r-bnwqim.r-5wli1b {
  display: none;
}

button[aria-label="Grok actions"] {
  display: none;
}
